
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&family=Mulish:wght@400;800&family=Open+Sans:wght@800&display=swap');

*{

font-family: 'Mulish', sans-serif;
}
body{
    max-width: 1170px;
    margin: 0 auto;

}
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 50px;

}
nav> ul{
    display: flex;
    gap: 44px;
    margin-top: 74px;
}
nav li{
    list-style-type: none;
}
.hamburger{
    display: none;
}
.orange {
    color:  #FF5400;
    
}
.heading{
    display: flex;
    gap: 15px;
    margin-top: 52px;
    align-items: center;
}.btn-primary{
    background-color: #FF5400;
    width: 174px;
    height: 55px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    
    

}
.banner{
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px; 
   
}
.content{
    padding: 106px;
    justify-content: center;
    align-items: center;
    
}

.content>h1{
    color: #FFF;
    font-size: 64px;
    text-align: center;
   font-size: 4rem;
}

.content>p{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
  
}
form{
    text-align: center;
    padding: 24px;
    margin:16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    
}

form>button{
    width: 174px;
    height: 55px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    
}

.when, .after-when{
    width: 174px;
    height: 55px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color:rgba(19, 19, 24, 0.5);
    margin-right: 24px;
    padding-left: 16px ;   
     
}
.where{
    width: 174px;
    height: 53px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color:rgba(19, 19, 24, 0.5);
    margin-right: 24px;
    padding-left: 16px;
}
.section-1{
    display: flex;
    margin-top:100px;
    gap: 100px;  
    margin-bottom: 100px; 
}

.list{
    margin:20px
}

.section-2{
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;

}
.section-2>p{
   max-width:640px;
   margin: 0 auto;
}
.row-1,  .row-2, .row-3{
    display: flex;
    gap:24px;
    padding-top: 24px;

    
}
.section-3{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;

}
.section-3>p{
   max-width:640px;
   margin: 0 auto;}

.icon{
    width: 64px;
height: 64px;
}
.top-row{
    display: flex;
    gap:24px;
    margin-top: 50px;
    margin-bottom: 24px;
}
.first{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
text-align: start;
padding: 32px;
}
.second{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
text-align: start;
padding: 32px;
}
.top-row>div{
    width: 573px;
height: 200px;
} 
.bottom-row{
    width: 573px;
height: 200px;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
text-align: start;
padding: 32px;
margin:0 auto;


}




@media screen and (max-width:600px) {
    .nav-bar{
        display: none;  
        
    }
    body{
        padding:30px;
    }
    .hamburger{
        padding: 15px;
        display:list-item;
    }
    .banner{
        
        height: 483px;
       

    }
    .content>h1{
        font-size:30px;

    }
    .content{
        padding: 20px;
        justify-content: center;
        text-align: center;
        
    }
    form>.btn-primary{
        width: 355px;
        margin:auto;

    }
    .when {
        width:355px;
       
       margin: auto;
       margin-bottom: 10px;
    }
    .where {
        width:355px;
        margin: auto ;
        
       margin-bottom: 10px;
       padding-left: 5px;
       padding-right: 5px;
    }
       
    .after-when {
        width:355px;
        margin: auto;
        
       margin-bottom: 10px;
    }
    form{
        justify-content: center;
        padding: 15px;
        margin-left: 50px;
        margin-right:50px
    }
    .section-1{
        flex-direction: column;
    }
    .section-2>p {
        max-width: 400px;}
    .row-1,  .row-2, .row-3{ 
        flex-direction: column;
    } 
    .row-2>img{
        height:280px;
    } 
    .row-3>img{
        height:280px;
    }

    
}  





